<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MXM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MXM.Properties.Settings>
            <setting name="filePath" serializeAs="String">
                <value>C:\webmanager\homologacao\WebServices\MXMAssinaturas.dll</value>
            </setting>
        </MXM.Properties.Settings>
    </applicationSettings>
</configuration>